{
  "openapi": "3.0.0",
  "info": {
    "description": "This document presents the REST API for Videon streaming devices. Multimedia encoder settings and media destinations(outputs) can be configured through the REST API.\n\nFor specific possible values, please refer to the particular streaming device you are using. All Videon streaming devices share a common REST API, but the specific features supported will vary for each device model.",
    "title": "Videon Streaming REST API",
    "version": ""
  },
  "servers": [
    {
      "url": "http://ip.address:2020/"
    }
  ],
  "paths": {
    "/v2/encoders": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "aud_encoders": [
                        {
                          "active": false,
                          "aud_encoder_id": 0,
                          "seconds_in_status": 0,
                          "status": "DISABLED"
                        }
                      ],
                      "data_encoders": [
                        {
                          "active": false,
                          "codec": "klv_sync",
                          "data_encoder_id": 0,
                          "seconds_in_status": 0,
                          "status": "DISABLED"
                        }
                      ],
                      "max_aud_encoders": 0,
                      "max_vid_encoders": 0,
                      "vid_encoders": [
                        {
                          "active": false,
                          "seconds_in_status": 0,
                          "status": "DISABLED",
                          "vid_encoder_id": 0
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "aud_encoders": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "aud_encoder_id": {
                            "type": "number"
                          },
                          "seconds_in_status": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "aud_encoder_id",
                          "active"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "data_encoders": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "codec": {
                            "enum": [
                              "klv_sync",
                              "scte35"
                            ],
                            "type": "string"
                          },
                          "data_encoder_id": {
                            "type": "number"
                          },
                          "seconds_in_status": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "data_encoder_id",
                          "codec",
                          "active"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "max_aud_encoders": {
                      "type": "number"
                    },
                    "max_vid_encoders": {
                      "type": "number"
                    },
                    "vid_encoders": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "seconds_in_status": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "vid_encoder_id": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "vid_encoder_id",
                          "active"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "vid_encoders",
                    "max_vid_encoders",
                    "aud_encoders",
                    "max_aud_encoders",
                    "data_encoders"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Encoders"
        ],
        "description": "Get the list of encoders present in the device.",
        "operationId": "Get Encoders List",
        "summary": "Get Encoders List"
      }
    },
    "/v2/encoders/aud_encoders": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "aud_encoders": [
                        {
                          "active": false,
                          "aud_encoder_id": 0,
                          "seconds_in_status": 0,
                          "status": "DISABLED"
                        }
                      ],
                      "available_codecs": [
                        "mpeg4_aac"
                      ],
                      "max_aud_encoders": 0
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "aud_encoders": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "aud_encoder_id": {
                            "type": "number"
                          },
                          "seconds_in_status": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "aud_encoder_id",
                          "active"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "available_codecs": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "max_aud_encoders": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "aud_encoders",
                    "available_codecs",
                    "max_aud_encoders"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Audio Encoders"
        ],
        "description": "Get the list of audio encoders present in the device.",
        "operationId": "Get Audio Encoders List",
        "summary": "Get Audio Encoders List"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": 0
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Created",
            "headers": {}
          }
        },
        "tags": [
          "Audio Encoders"
        ],
        "description": "Create a new audio encoder with the specified settings.",
        "operationId": "Create New Audio Encoder",
        "summary": "Create New Audio Encoder"
      }
    },
    "/v2/encoders/aud_encoders/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Audio Encoders"
        ],
        "description": "Delete the specified audio encoder.",
        "operationId": "Delete Audio Encoder",
        "summary": "Delete Audio Encoder"
      },
      "get": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "active": false,
                      "aud_encoder_id": 0,
                      "bitrate": {
                        "value": 64,
                        "value_range": {
                          "max": 512,
                          "min": 32
                        }
                      },
                      "bitrate_mode": {
                        "possible_values": [
                          "constant",
                          "variable"
                        ],
                        "value": "variable"
                      },
                      "channel_configuration": {
                        "avail_channel_range": {
                          "max": 512,
                          "min": 32
                        },
                        "num_channel_range": {
                          "max": 512,
                          "min": 32
                        },
                        "selected_channels": [
                          1,
                          2
                        ]
                      },
                      "codec": {
                        "possible_values": [
                          "mpeg4_aac"
                        ],
                        "value": "mpeg4_aac"
                      },
                      "in_channel_id": 0,
                      "mix_mode": {
                        "possible_values": [
                          "STEREO",
                          "DUAL_MONO",
                          "LEFT_MONO",
                          "RIGHT_MONO",
                          "CROSS_MONO"
                        ],
                        "value": "STEREO"
                      },
                      "name": "AudioEncoder1",
                      "sample": {
                        "possible_values": [
                          "SAMPLE_16_khz",
                          "SAMPLE_32_khz",
                          "SAMPLE_44p1_khz",
                          "SAMPLE_48_khz",
                          "SAMPLE_96_khz",
                          "SAMPLE_192_khz"
                        ],
                        "value": "SAMPLE_48_khz"
                      },
                      "seconds_in_status": 0,
                      "status": "DISABLED"
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "active": {
                      "type": "boolean"
                    },
                    "aud_encoder_id": {
                      "type": "number"
                    },
                    "bitrate": {
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "value_range": {
                          "properties": {
                            "max": {
                              "type": "number"
                            },
                            "min": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "value",
                        "value_range"
                      ],
                      "type": "object"
                    },
                    "bitrate_mode": {
                      "properties": {
                        "possible_values": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "type": "array"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "value",
                        "possible_values"
                      ],
                      "type": "object"
                    },
                    "channel_configuration": {
                      "properties": {
                        "avail_channel_range": {
                          "properties": {
                            "max": {
                              "type": "number"
                            },
                            "min": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "type": "object"
                        },
                        "num_channel_range": {
                          "properties": {
                            "max": {
                              "type": "number"
                            },
                            "min": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "type": "object"
                        },
                        "selected_channels": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              }
                            ]
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "num_channel_range",
                        "avail_channel_range",
                        "selected_channels"
                      ],
                      "type": "object"
                    },
                    "codec": {
                      "properties": {
                        "possible_values": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "value",
                        "possible_values"
                      ],
                      "type": "object"
                    },
                    "in_channel_id": {
                      "type": "number"
                    },
                    "mix_mode": {
                      "properties": {
                        "possible_values": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "type": "array"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "value",
                        "possible_values"
                      ],
                      "type": "object"
                    },
                    "name": {
                      "type": "string"
                    },
                    "sample": {
                      "properties": {
                        "possible_values": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "type": "array"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "value",
                        "possible_values"
                      ],
                      "type": "object"
                    },
                    "seconds_in_status": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "active",
                    "aud_encoder_id",
                    "in_channel_id",
                    "codec",
                    "sample",
                    "mix_mode",
                    "bitrate",
                    "bitrate_mode",
                    "channel_configuration"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Audio Encoders"
        ],
        "description": "Get the current audio encoder settings.",
        "operationId": "Get Audio Encoder Configuration",
        "summary": "Get Audio Encoder Configuration"
      },
      "put": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Audio Encoders"
        ],
        "description": "Update the current audio encoder settings.",
        "operationId": "Update Audio Encoder Configuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "bitrate": {
                    "value": 64
                  },
                  "bitrate_mode": {
                    "value": "variable"
                  },
                  "channel_configuration": {
                    "selected_channels": [
                      1,
                      2
                    ]
                  },
                  "codec": {
                    "value": "mpeg4_aac"
                  },
                  "in_channel_id": 0,
                  "mix_mode": {
                    "value": "STEREO"
                  },
                  "name": "AudioEncoder1"
                },
                "properties": {
                  "bitrate": {
                    "properties": {
                      "value": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "value"
                    ],
                    "type": "object"
                  },
                  "bitrate_mode": {
                    "properties": {
                      "value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "value"
                    ],
                    "type": "object"
                  },
                  "channel_configuration": {
                    "properties": {
                      "selected_channels": {
                        "items": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "selected_channels"
                    ],
                    "type": "object"
                  },
                  "codec": {
                    "properties": {
                      "value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "value"
                    ],
                    "type": "object"
                  },
                  "in_channel_id": {
                    "type": "number"
                  },
                  "mix_mode": {
                    "properties": {
                      "value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "value"
                    ],
                    "type": "object"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "in_channel_id",
                  "codec",
                  "mix_mode",
                  "bitrate",
                  "bitrate_mode",
                  "channel_configuration"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Update Audio Encoder Configuration"
      }
    },
    "/v2/encoders/data_encoders": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "available_codecs": [
                        "klv_sync",
                        "scte35"
                      ],
                      "data_encoders": [
                        {
                          "active": false,
                          "codec": "klv_sync",
                          "data_encoder_id": 0,
                          "seconds_in_status": 0,
                          "status": "DISABLED"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "available_codecs": {
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      },
                      "type": "array"
                    },
                    "data_encoders": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "codec": {
                            "enum": [
                              "klv_sync",
                              "scte35"
                            ],
                            "type": "string"
                          },
                          "data_encoder_id": {
                            "type": "number"
                          },
                          "seconds_in_status": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "data_encoder_id",
                          "codec",
                          "active"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "data_encoders",
                    "available_codecs"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Get the list of data encoders present in the device.",
        "operationId": "Get Data Encoders List",
        "summary": "Get Data Encoders List"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": 0
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Created",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Create a new data encoder with the specified settings.",
        "operationId": "Create New Data Encoder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "codec": "klv_sync"
                },
                "properties": {
                  "codec": {
                    "enum": [
                      "klv_sync",
                      "scte35"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "codec"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Create New Data Encoder"
      }
    },
    "/v2/encoders/data_encoders/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Delete the specified data encoder.",
        "operationId": "Delete Data Encoder",
        "summary": "Delete Data Encoder"
      },
      "get": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "active": false,
                      "codec": {
                        "klv_sync": {},
                        "scte35": {
                          "splice_duration": 30000
                        },
                        "value": "klv_sync"
                      },
                      "data_encoder_id": 0,
                      "name": "DataEncoder1",
                      "seconds_in_status": 0,
                      "status": "DISABLED"
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "active": {
                      "type": "boolean"
                    },
                    "codec": {
                      "properties": {
                        "klv_sync": {
                          "properties": {},
                          "type": "object"
                        },
                        "scte35": {
                          "properties": {
                            "splice_duration": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "splice_duration"
                          ],
                          "type": "object"
                        },
                        "value": {
                          "enum": [
                            "klv_sync",
                            "scte35"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "value"
                      ],
                      "type": "object"
                    },
                    "data_encoder_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "seconds_in_status": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "active",
                    "data_encoder_id",
                    "codec"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Get the current data encoder settings.",
        "operationId": "Get Data Encoder Configuration",
        "summary": "Get Data Encoder Configuration"
      },
      "put": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Update the current data encoder settings.",
        "operationId": "Update Data Encoder Configuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "codec": {
                    "klv_sync": {},
                    "scte35": {
                      "splice_duration": 30000
                    },
                    "value": "klv_sync"
                  },
                  "name": "DataEncoder1"
                },
                "properties": {
                  "codec": {
                    "properties": {
                      "klv_sync": {
                        "properties": {},
                        "type": "object"
                      },
                      "scte35": {
                        "properties": {
                          "splice_duration": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "splice_duration"
                        ],
                        "type": "object"
                      },
                      "value": {
                        "enum": [
                          "klv_sync",
                          "scte35"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "value"
                    ],
                    "type": "object"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "codec"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Update Data Encoder Configuration"
      }
    },
    "/v2/encoders/data_encoders/{id}/action/insert_splice": {
      "post": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Legacy endpoint. Insert splice markers to transport stream outputs starting now. The duration of the splice will be what\nis configured in the SCTE-35 encoder. There will be at least a 4 second delay in splice start.",
        "operationId": "SCTE-35 - Insert Splice",
        "summary": "SCTE-35 - Insert Splice"
      }
    },
    "/v2/encoders/data_encoders/{id}/klv": {
      "get": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "klv": [
                        {
                          "id": 0,
                          "klv": [
                            {
                              "blob": "060E2B34010101010105020000000000105965737465726461797320576F726C64",
                              "enumerated": {
                                "key": "060E2B34010101010105020000000000",
                                "length": 16,
                                "value": "5965737465726461797320576F726C64"
                              },
                              "value": "blob"
                            }
                          ],
                          "precision_datetime_utc": "1980-01-04T04:20:30.789Z"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "klv": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "klv": {
                            "items": {
                              "properties": {
                                "blob": {
                                  "type": "string"
                                },
                                "enumerated": {
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "length": {
                                      "type": "number"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "value": {
                                  "enum": [
                                    "blob",
                                    "enumerated"
                                  ],
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "precision_datetime_utc": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Get the list of KLV requests.",
        "operationId": "Get KLV Requests",
        "summary": "Get KLV Requests"
      },
      "post": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": 0
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Create a request to inject KLV into the stream. The KLV will be associated with the video frame that has an MISB 604\nPrecision Time Stamp matching closest to the the given UTC time.\n\nThe format of the KLV in transport streams will follow ISO/IEC 13818-1 Metadata AU Wrapper. The first Metadata AU Cell\nwill be the MISB 0601 KLV containing the Precision Time Stamp, which will be followed by subsequent Metadata AU Cells\nfor each KLV listed in the request.\n\n* **precision_datetime_utc** - The UTC time to associate the KLV with. It will be paired with the video frame with\nclosest matching time.\n  * Time should be specified as ISO 8601 in UTC (i.e. “yyyy-mm-ddTHH:MM:SS.mmmZ”).\n  * This field is optional and if not specified, the command will be inserted immediately.\n  * If the time given is up to 1 minute in the past, then the command will be inserted immediately. Otherwise, it will be\nrejected and an error returned.\n  * If two separate requests have a precision time matching to the same video frame, they will still be tracked\nseparately, but both will be included in the same KLV frame.\n\n* **klv** - An array of KLV to insert into the stream. They are all inserted into the stream at the same time and\nassociated to the same video frame using **precision_datetime_utc**. Each KLV object can be specified using multiple\nformats. **value** is the distinguishing field for format and indicates what corresponding object is being used (e.g. **blob**).\n\n* **blob** - A hexadecimal string containing the full KLV data in the form of a binary blob. KLV data must conform to SMPTE-336.\n\n* **enumerated**\n  * **key** - A hexadecimal string containing the 16 byte KLV key in the form of a binary blob. Key must conform to SMPTE-336.\n  * **value** - A hexadecimal string containing the KLV value in the form of a binary blob. Value must conform to SMPTE-336.",
        "operationId": "Create KLV Request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "klv": [
                    {
                      "blob": "060E2B34010101010105020000000000105965737465726461797320576F726C64",
                      "enumerated": {
                        "key": "060E2B34010101010105020000000000",
                        "value": "5965737465726461797320576F726C64"
                      },
                      "value": "blob"
                    }
                  ],
                  "precision_datetime_utc": "1980-01-04T04:20:30.789Z"
                },
                "properties": {
                  "klv": {
                    "items": {
                      "properties": {
                        "blob": {
                          "type": "string"
                        },
                        "enumerated": {
                          "properties": {
                            "key": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ],
                          "type": "object"
                        },
                        "value": {
                          "enum": [
                            "blob",
                            "enumerated"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "value"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "precision_datetime_utc": {
                    "type": "string"
                  }
                },
                "required": [
                  "klv"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Create KLV Request"
      }
    },
    "/v2/encoders/data_encoders/{id}/klv/{klv_id}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "",
            "example": "1",
            "in": "path",
            "name": "klv_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Delete a KLV request.",
        "operationId": "Delete KLV Request",
        "summary": "Delete KLV Request"
      },
      "get": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "",
            "example": "1",
            "in": "path",
            "name": "klv_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": 0,
                      "klv": [
                        {
                          "blob": "060E2B34010101010105020000000000105965737465726461797320576F726C64",
                          "enumerated": {
                            "key": "060E2B34010101010105020000000000",
                            "length": 16,
                            "value": "5965737465726461797320576F726C64"
                          },
                          "value": "blob"
                        }
                      ],
                      "precision_datetime_utc": "1980-01-04T04:20:30.789Z"
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "klv": {
                      "items": {
                        "properties": {
                          "blob": {
                            "type": "string"
                          },
                          "enumerated": {
                            "properties": {
                              "key": {
                                "type": "string"
                              },
                              "length": {
                                "type": "number"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "value": {
                            "enum": [
                              "blob",
                              "enumerated"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "precision_datetime_utc": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Get the details of a KLV request.",
        "operationId": "Get KLV Request",
        "summary": "Get KLV Request"
      },
      "put": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "",
            "example": "1",
            "in": "path",
            "name": "klv_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Update the details of a KLV request. Individual KLV within the original request is not added or removed. The KLV data is\nreplaced wholesale.",
        "operationId": "Update KLV Request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "klv": [
                    {
                      "blob": "060E2B34010101010105020000000000105965737465726461797320576F726C64",
                      "enumerated": {
                        "key": "060E2B34010101010105020000000000",
                        "value": "5965737465726461797320576F726C64"
                      },
                      "value": "blob"
                    }
                  ],
                  "precision_datetime_utc": "1980-01-04T04:20:30.789Z"
                },
                "properties": {
                  "klv": {
                    "items": {
                      "properties": {
                        "blob": {
                          "type": "string"
                        },
                        "enumerated": {
                          "properties": {
                            "key": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ],
                          "type": "object"
                        },
                        "value": {
                          "enum": [
                            "blob",
                            "enumerated"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "value"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "precision_datetime_utc": {
                    "type": "string"
                  }
                },
                "required": [
                  "klv"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Update KLV Request"
      }
    },
    "/v2/encoders/data_encoders/{id}/splice_commands": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Cancel all active splice commands. See description of DELETE for individual splice commands for more detail on how\ncancelling works.",
        "operationId": "Delete Splice Commands",
        "summary": "Delete Splice Commands"
      },
      "get": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "splice_commands": [
                        {
                          "id": 0,
                          "process_time_utc": "1980-01-04T04:20:30.789Z",
                          "splice_command": {
                            "splice_insert": {
                              "duration_msec": 30000,
                              "preroll_time_msec": 4000,
                              "splice_event_id": 0
                            },
                            "time_signal": {
                              "preroll_time_msec": 4000,
                              "segment_num": 0,
                              "segmentation_descriptor": "020F43554549000000017FBF0000300101",
                              "segmentation_event_id": 0,
                              "segmentation_type_id": 0
                            },
                            "value": "splice_insert"
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "splice_commands": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "process_time_utc": {
                            "type": "string"
                          },
                          "splice_command": {
                            "properties": {
                              "splice_insert": {
                                "properties": {
                                  "duration_msec": {
                                    "type": "number"
                                  },
                                  "preroll_time_msec": {
                                    "type": "number"
                                  },
                                  "splice_event_id": {
                                    "type": "number"
                                  }
                                },
                                "type": "object"
                              },
                              "time_signal": {
                                "properties": {
                                  "preroll_time_msec": {
                                    "type": "number"
                                  },
                                  "segment_num": {
                                    "type": "number"
                                  },
                                  "segmentation_descriptor": {
                                    "type": "string"
                                  },
                                  "segmentation_event_id": {
                                    "type": "number"
                                  },
                                  "segmentation_type_id": {
                                    "type": "number"
                                  }
                                },
                                "type": "object"
                              },
                              "value": {
                                "enum": [
                                  "splice_insert",
                                  "time_signal"
                                ],
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Get the list of active splice commands.",
        "operationId": "Get Splice Commands",
        "summary": "Get Splice Commands"
      },
      "post": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": 0
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Create a splice command to insert into the stream. The command will be processed at the given UTC time or immediately if\nno time is specified.\n\n* **splice_insert** - Creates a splice_insert command with the given pre-roll and duration. If pre-roll is not specified, 4\nseconds is used. If the duration is not specified, the duration configured in the SCTE-35 encoder will be used. The\ncommand will be inserted into the stream at the process time and will be reinserted every 2 seconds of pre-roll for\nredundancy.\n\n* **time_signal** - Creates a time_signal command with the given pre-roll and with the given segmentation descriptor\nattached. If pre-roll is not specified, 4 seconds is used. The segmentation descriptor is the binary blob of the\ndescriptor data in the form of a hexidecimal string. The command will be inserted into the stream at the process\ntime and will be reinserted every 2 seconds of pre-roll for redundancy.",
        "operationId": "Create Splice Command",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "process_time_utc": "1980-01-04T04:20:30.789Z",
                  "splice_command": {
                    "splice_insert": {
                      "duration_msec": 30000,
                      "preroll_time_msec": 4000
                    },
                    "time_signal": {
                      "preroll_time_msec": 4000,
                      "segmentation_descriptor": "020F43554549000000017FBF0000300101"
                    },
                    "value": "splice_insert"
                  }
                },
                "properties": {
                  "process_time_utc": {
                    "type": "string"
                  },
                  "splice_command": {
                    "properties": {
                      "splice_insert": {
                        "properties": {
                          "duration_msec": {
                            "type": "number"
                          },
                          "preroll_time_msec": {
                            "type": "number"
                          }
                        },
                        "type": "object"
                      },
                      "time_signal": {
                        "properties": {
                          "preroll_time_msec": {
                            "type": "number"
                          },
                          "segmentation_descriptor": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "segmentation_descriptor"
                        ],
                        "type": "object"
                      },
                      "value": {
                        "enum": [
                          "splice_insert",
                          "time_signal"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "value"
                    ],
                    "type": "object"
                  }
                },
                "required": [
                  "splice_command"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Create Splice Command"
      }
    },
    "/v2/encoders/data_encoders/{id}/splice_commands/{cmd_id}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "",
            "example": "1",
            "in": "path",
            "name": "cmd_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Cancel an active splice command.\n\n* If no splice info sections for the event have been inserted into the stream yet, the active splice command is simply\ndeleted.\n\n* If splice info sections have been inserted but the event has not occured yet, a cancel splice info section is inserted\nimmediately.\n\n* (Splice Insert Only) If the splice event has occurred and the duration is under way, an immediate in to network\nsplice_insert is inserted.",
        "operationId": "Delete Splice Command",
        "summary": "Delete Splice Command"
      },
      "get": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "",
            "example": "1",
            "in": "path",
            "name": "cmd_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": 0,
                      "process_time_utc": "1980-01-04T04:20:30.789Z",
                      "splice_command": {
                        "splice_insert": {
                          "duration_msec": 30000,
                          "preroll_time_msec": 4000,
                          "splice_event_id": 0
                        },
                        "time_signal": {
                          "preroll_time_msec": 4000,
                          "segment_num": 0,
                          "segmentation_descriptor": "020F43554549000000017FBF0000300101",
                          "segmentation_event_id": 0,
                          "segmentation_type_id": 0
                        },
                        "value": "splice_insert"
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "process_time_utc": {
                      "type": "string"
                    },
                    "splice_command": {
                      "properties": {
                        "splice_insert": {
                          "properties": {
                            "duration_msec": {
                              "type": "number"
                            },
                            "preroll_time_msec": {
                              "type": "number"
                            },
                            "splice_event_id": {
                              "type": "number"
                            }
                          },
                          "type": "object"
                        },
                        "time_signal": {
                          "properties": {
                            "preroll_time_msec": {
                              "type": "number"
                            },
                            "segment_num": {
                              "type": "number"
                            },
                            "segmentation_descriptor": {
                              "type": "string"
                            },
                            "segmentation_event_id": {
                              "type": "number"
                            },
                            "segmentation_type_id": {
                              "type": "number"
                            }
                          },
                          "type": "object"
                        },
                        "value": {
                          "enum": [
                            "splice_insert",
                            "time_signal"
                          ],
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Data Encoders"
        ],
        "description": "Get the details of an active splice command.",
        "operationId": "Get Splice Command",
        "summary": "Get Splice Command"
      }
    },
    "/v2/encoders/vid_encoders": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "available_codecs": [
                        "H264",
                        "H265"
                      ],
                      "max_sync_groups": 0,
                      "max_vid_encoders": 0,
                      "sync_groups": [
                        {
                          "active": false,
                          "sync_group_id": 0
                        }
                      ],
                      "vid_encoders": [
                        {
                          "active": false,
                          "seconds_in_status": 0,
                          "status": "DISABLED",
                          "vid_encoder_id": 0
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "available_codecs": {
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      },
                      "type": "array"
                    },
                    "max_sync_groups": {
                      "type": "number"
                    },
                    "max_vid_encoders": {
                      "type": "number"
                    },
                    "sync_groups": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "sync_group_id": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "active",
                          "sync_group_id"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "vid_encoders": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "seconds_in_status": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "vid_encoder_id": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "vid_encoder_id",
                          "active"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "vid_encoders",
                    "available_codecs",
                    "max_vid_encoders",
                    "sync_groups",
                    "max_sync_groups"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Video Encoders"
        ],
        "description": "Get the list of video encoders present in the device.",
        "operationId": "Get Video Encoders List",
        "summary": "Get Video Encoders List"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": 0
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Created",
            "headers": {}
          }
        },
        "tags": [
          "Video Encoders"
        ],
        "description": "Create new video encoder with the specified settings.",
        "operationId": "Create New Video Encoder",
        "summary": "Create New Video Encoder"
      }
    },
    "/v2/encoders/vid_encoders/sync_groups": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "max_sync_groups": 0,
                      "sync_groups": [
                        {
                          "active": false,
                          "sync_group_id": 0
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "max_sync_groups": {
                      "type": "number"
                    },
                    "sync_groups": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "sync_group_id": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "active",
                          "sync_group_id"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "sync_groups",
                    "max_sync_groups"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Sync Groups"
        ],
        "description": "Get the list of sync groups.",
        "operationId": "Get Sync Group List",
        "summary": "Get Sync Group List"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": 0
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Created",
            "headers": {}
          }
        },
        "tags": [
          "Sync Groups"
        ],
        "description": "Create sync group with the specified settings.",
        "operationId": "Create Sync Group",
        "summary": "Create Sync Group"
      }
    },
    "/v2/encoders/vid_encoders/sync_groups/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Sync Groups"
        ],
        "description": "Delete the specified sync group.",
        "operationId": "Delete Sync Group",
        "summary": "Delete Sync Group"
      },
      "get": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "active": false,
                      "encoder_ids": [
                        1,
                        2,
                        3,
                        4
                      ],
                      "in_channel_id": 0,
                      "keyframe_interval": {
                        "interval": 100,
                        "interval_range_frames": {
                          "max": 512,
                          "min": 32
                        },
                        "interval_range_milliseconds": {
                          "max": 512,
                          "min": 32
                        },
                        "possible_units": [
                          "FRAMES",
                          "MILLISECONDS"
                        ],
                        "unit": "MILLISECONDS"
                      },
                      "latency_mode": {
                        "possible_values": [
                          "HIGH",
                          "NORMAL",
                          "LOW",
                          "LOWEST"
                        ],
                        "value": "HIGH"
                      },
                      "limit_to_30_fps": false,
                      "name": "SyncGroup1",
                      "sync_group_id": 0
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "active": {
                      "type": "boolean"
                    },
                    "encoder_ids": {
                      "items": {},
                      "type": "array"
                    },
                    "in_channel_id": {
                      "type": "number"
                    },
                    "keyframe_interval": {
                      "properties": {
                        "interval": {
                          "type": "number"
                        },
                        "interval_range_frames": {
                          "properties": {
                            "max": {
                              "type": "number"
                            },
                            "min": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "type": "object"
                        },
                        "interval_range_milliseconds": {
                          "properties": {
                            "max": {
                              "type": "number"
                            },
                            "min": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "type": "object"
                        },
                        "possible_units": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "type": "array"
                        },
                        "unit": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "interval",
                        "unit",
                        "possible_units"
                      ],
                      "type": "object"
                    },
                    "latency_mode": {
                      "properties": {
                        "possible_values": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "type": "array"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "value",
                        "possible_values"
                      ],
                      "type": "object"
                    },
                    "limit_to_30_fps": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string"
                    },
                    "sync_group_id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "name",
                    "active",
                    "sync_group_id",
                    "in_channel_id",
                    "encoder_ids",
                    "keyframe_interval",
                    "limit_to_30_fps",
                    "latency_mode"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Sync Groups"
        ],
        "description": "Get settings for the specified sync group.",
        "operationId": "Get Sync Group Configuration",
        "summary": "Get Sync Group Configuration"
      },
      "put": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Sync Groups"
        ],
        "description": "Update settings for the specified sync group.",
        "operationId": "Update Sync Group Configuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "in_channel_id": 0,
                  "keyframe_interval": {
                    "interval": 100,
                    "unit": "MILLISECONDS"
                  },
                  "latency_mode": {
                    "value": "HIGH"
                  },
                  "limit_to_30_fps": false,
                  "name": "SyncGroup1"
                },
                "properties": {
                  "in_channel_id": {
                    "type": "number"
                  },
                  "keyframe_interval": {
                    "properties": {
                      "interval": {
                        "type": "number"
                      },
                      "unit": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "interval",
                      "unit"
                    ],
                    "type": "object"
                  },
                  "latency_mode": {
                    "properties": {
                      "value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "value"
                    ],
                    "type": "object"
                  },
                  "limit_to_30_fps": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "in_channel_id",
                  "keyframe_interval",
                  "limit_to_30_fps",
                  "latency_mode"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Update Sync Group Configuration"
      }
    },
    "/v2/encoders/vid_encoders/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {}
          }
        },
        "tags": [
          "Video Encoders"
        ],
        "description": "Delete the specified video encoder.",
        "operationId": "Delete Video Encoder",
        "summary": "Delete Video Encoder"
      },
      "get": {
        "parameters": [
          {
            "description": "",
            "example": "0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "active": false,
                      "bitrate": {
                        "value": 500,
                        "value_range": {
                          "max": 512,
                          "min": 32
                        }
                      },
                      "bitrate_mode": {
                        "possible_values": [
                          "constant",
                          "variable"
                        ],
                        "value": "variable"
                      },
                      "codec": {
                        "h264": {
                          "level": {
                            "value": "LVL5P1"
                          },
                          "profile": {
                            "possible_values": [
                              "PROFILE_BASELINE",
                              "PROFILE_MAIN",
                              "PROFILE_HIGH"
                            ],
                            "value": "PROFILE_BASELINE"
                          }
                        },
                        "h265": {
                          "level": {
                            "value": "LVL_5P1_HIGH"
                          },
                          "profile": {
                            "possible_values": [
                              "PROFILE_MAIN"
                            ],
                            "value": "PROFILE_MAIN"
                          }
                        },
                        "possible_values": [
                          "H264",
                          "H265"
                        ],
                        "value": "H264"
                      },
                      "current_bitrate": 0,
                      "in_channel_id": 0,
                      "keyframe_interval": {
                        "interval": 100,
                        "interval_range_frames": {
                          "max": 512,
                          "min": 32
                        },
                        "interval_range_milliseconds": {
                          "max": 512,
                          "min": 32
                        },
                        "possible_units": [
                          "FRAMES",
                          "MILLISECONDS"
                        ],
                        "unit": "FRAMES"
                      },
                      "klv_timestamp_enabled": false,
                      "latency_mode": {
                        "possible_values": [
                          "HIGH",
                          "NORMAL",
                          "LOW",
                          "LOWEST"
                        ],
                        "value": "HIGH"
                      },
                      "limit_to_30_fps": false,
                      "name": "VideoEncoder1",
                      "scaling_resolution": {
                        "possible_values": [
                          "RES_PASSTHROUGH",
                          "RES_3840X2160",
                          "RES_1920X1080",
                          "RES_1280X720",
                          "RES_960X540",
                          "RES_720X576",
                          "RES_854x480",
                          "RES_640X360",
                          "RES_480X270",
                          "RES_320X180"
                        ],
                        "value": "RES_1920X1080"
                      },
                      "seconds_in_status": 0,
                      "status": "DISABLED",
                      "sync_group_id": 0,
                      "vid_encoder_id": 0
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "active": {
                      "type": "boolean"
                    },
                    "bitrate": {
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "value_range": {
                          "properties": {
                            "max": {
                              "type": "number"
                            },
                            "min": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "value",
                        "value_range"
                      ],
                      "type": "object"
                    },
                    "bitrate_mode": {
                      "properties": {
                        "possible_values": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "type": "array"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "value",
                        "possible_values"
                      ],
                      "type": "object"
                    },
                    "codec": {
                      "properties": {
                        "h264": {
                          "properties": {
                            "level": {
                              "properties": {
                                "value": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "value"
                              ],
                              "type": "object"
                            },
                            "profile": {
                              "properties": {
                                "possible_values": {
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  },
                                  "type": "array"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "value",
                                "possible_values"
                              ],
                              "type": "object"
                            }
                          },
                          "required": [
                            "profile",
                            "level"
                          ],
                          "type": "object"
                        },
                        "h265": {
                          "properties": {
                            "level": {
                              "properties": {
                                "value": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "value"
                              ],
                              "type": "object"
                            },
                            "profile": {
                              "properties": {
                                "possible_values": {
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": "array"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "value",
                                "possible_values"
                              ],
                              "type": "object"
                            }
                          },
                          "required": [
                            "profile",
                            "level"
                          ],
                          "type": "object"
                        },
                        "possible_values": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "type": "array"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "value",
                        "possible_values"
                      ],
                      "type": "object"
                    },
                    "current_bitrate": {
                      "type": "number"
                    },
                    "in_channel_id": {
                      "type": "number"
                    },
                    "keyframe_interval": {
                      "properties": {
                        "interval": {
                          "type": "number"
                        },
                        "interval_range_frames": {
                          "properties": {
                            "max": {
                              "type": "number"
                            },
                            "min": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "type": "object"
                        },
                        "interval_range_milliseconds": {
                          "properties": {
                            "max": {
                              "type": "number"
                            },
                            "min": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "min",
                            "max"
                          ],
                          "type": "object"
                        },
                        "possible_units": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "type": "array"
                        },
                        "unit": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "interval",
                        "unit",
                        "possible_units"
                      ],
                      "type": "object"
                    },
                    "klv_timestamp_enabled": {
                      "type": "boolean"
                    },
                    "latency_mode": {
                      "properties": {
                        "possible_values": {
[...]
